body {
    height: 100vh;
    background: linear-gradient(#232630,#050507);
    padding: 0;
    margin: 0;
}

.mudar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.mudar nav, a{
    color: #CBD5E1; 
    text-decoration: none; 
    font-size: 20px; 
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
}

.navBar {
    display: flex;
    gap: 1rem;
}

.items {
    display: flex; 
    flex-direction: column; 
    align-items: center
}

.tag {
    text-decoration: none; 
    color: white; 
    display: flex; 
    justify-content: left;
    font-size: 45px; 
    font-style: inherit; 
    font-weight: bold; 
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.tag:hover {
    color: #b2b4ca;
    transition: calc(1s);
}

#name-home {
    text-decoration: none; 
    color: white; 
    display: flex; 
    justify-content: left;
    margin: 10px 69% 0 310px;
    font-size: 45px; 
    font-style: inherit; 
    font-weight: bold; 
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}

.navegacao {
    display: flex;
    justify-content: space-around;
    bottom: 10px;
    left: 50%;
    right: 50%;
    position: absolute;
    gap: 3px;
}

.icons {
    font-size: 2.5rem;
    color: #fff;
}

.mail {
    font-size: 5rem;
    color: #fff;
}

.thingsLike {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 80%;
    padding-left: 15rem;

}

.img {
    width: 45px; 
    height: 45px;
}

.links-s{
    width: 45px; 
    height: 45px;
    transition: transform 0.4s;
}

.links-s:hover {
    transform: scale(1.1);
}

.fotopf {
    border-radius: 100%;
    height: 250px;
    width: 300px;
}

.f-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
}

.sobre-m {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a4acc2;
}

.aboutMe {
    text-align: justify;
    width: 60%;
    line-height: 2rem;
}

.cor {
    color: cadetblue;   
}

.paragrafo {
    color: #CCD6F6;
    font-size: larger;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont-p {
    width: 190px;
    display: flex;
    margin-left: 50px;
}

.c-gosto {
    width: 210px;
    height: 60px;
    margin-left: 50px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.c-t {
    color: #a4acc2;
    font-size: large;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

h2 {
    color: #FFF;
    font-size: 43px;
    font-family: system-ui, -apple-system, 
    BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}

.projetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 420px;
}

.sites {
    width: 38%;
    border-radius: 20px;
}

.portfolio_div {
    text-align: center;
}

button {
    background-color: #1d2257;
    color: aliceblue;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'League Spartan', sans-serif;
    cursor: pointer;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 36%;
    width: 35%;
    color: #FFF;
    position: absolute;
    left: 34%;
    top: 30%;
    gap: 22px;
    font-family: 'League Spartan', sans-serif;
    background-color: rgb(177, 25, 25);
    border-radius: 10px;
}

.contact p{
    margin: 0;
    font-size: 4.5rem;
    font-weight: bold;
}

.contact span{
    font-size: 20px;
    font-weight: bold;
}

.contact a{
    text-decoration: underline; 
    color: #FFF;
    font-size: 1.5rem;
}

.home-page {
    display: flex;
    height: 87%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home-page p {
    color: #FFF;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'League Spartan', sans-serif;
}

.name_home {
    width: 400px;
    height: 250px;
}

.hacker {
    width: 300px;
    height: 400px;
}